section {
  position: relative;
}

.openPopUp_btn {
  color: white;
  border: 10px solid grey;
  cursor: pointer;
  width: 300px;
  border-radius: 50px;
  height: 50px;
  background-color: blue;
  margin: 300px 600px;
}

.openPopUp_btn_close {
  display: none;
}

.pop-up_display {
  display: block;
  position: fixed;
  top: 250px;
  left: 500px;
  background-color: rgb(235, 231, 231);
  width: 500px;
  height: 250px;
  border-radius: 50px;
  text-align: center;
  font-family: sans-serif;
  color: red;
}

.pop-up_hide {
  display: none;
}
