@import url("https://fonts.googleapis.com/css2?family=Gideon+Roman&family=League+Gothic&family=Praise&family=Shizuru&family=Syne+Mono&family=ZCOOL+QingKe+HuangYou&display=swap");
#four_not_four {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 100%;
  margin: 0;
  background-image: url(./images/dribbble_1.gif);
  background-repeat: no-repeat;
  background-size: 50%;
  font-family: "Gideon Roman", cursive;
  font-family: "League Gothic", sans-serif;
  font-family: "Praise", cursive;
  font-family: "Shizuru", cursive;
  font-family: "Syne Mono", monospace;
  font-family: "ZCOOL QingKe HuangYou", cursive;
  background-position: center;
}

#four_not_four h1 {
  text-align: center;
  font-size: 100px;
  margin-top: 2%;
}

#message {
  text-align: center;
}

#message p {
  font-size: 30px;
  margin-top: 0%;
  font-family: "Gideon Roman", cursive;
  font-family: "League Gothic", sans-serif;
  font-family: "Praise", cursive;
  font-family: "Shizuru", cursive;
  font-family: "Syne Mono", monospace;
  font-family: "ZCOOL QingKe HuangYou", cursive;
}

#message a {
  font-size: 20px;
  text-decoration: none;
  background-color: rgb(60, 221, 60);
  padding: 10px;
  border-radius: 20px;
  color: darkorchid;
}

@media only screen and (max-width: 700px) {
  #four_not_four {
    height: 400px;
    background-size: 100%;
    margin-top: 100px;
  }

  #message a {
    font-size: 10px;
  }

  #message p {
    font-size: 20px;
  }
}
